@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

@font-face {
    font-family: 'Holligate Signature Demo';
    src: url('../../assets/projects/Holligate\ Signature\ Demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
}

.linkedinlogo {
    width: 30px;
    height: 30px;
    margin-right: 10px;


}

.linkedin {
    font-size: 20px;
    color: #fff;
    /* letter-spacing: 1cap; */

}

.linkedinlink {
    text-decoration: none;
}


.emaillogo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    text-decoration: none;

}


.contactemail {
    font-size: 20px;
    color: #fff;
    /* letter-spacing: 1cap; */

}

.emaillink {
    text-decoration: none;
}

.githublogo {
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

.github {
    font-size: 20px;
    color: #fff;
    /* letter-spacing: 1cap; */


}

.githublink {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #37096e;
    padding: 20px 100px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.navbar-links {

    width: 50%;
    display: flex;
    flex-direction: column;

}

.navbar ul {


    display: flex;
    margin-top: 0;
}

.brand-title {
    font-size: 2.5rem;
    margin: .5rem;
    color: rgba(155, 15, 186, 0.996);
    font-family: 'Holligate Signature Demo', sans-serif;
    font-weight: 700;
    letter-spacing: 6px;

}

.navbar-links ul {

    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */

}

.navbar-links li {

    list-style: none;

}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    font-size: 1.5rem;


}

.navbar-links li:hover {
    background-color: rgba(173, 151, 195, 0.764);
    border-radius: 10px;
}

.navbar-links li a.active {
    color: rgba(195, 181, 209, 0.764)
}

body {
    background-image: url('https://images.unsplash.com/photo-1623520527569-fee1da87f598?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    height: 100vh;
    margin: 0;

    padding: 0;

}



@media only screen and (max-width: 768px) {


    .navbar-links,
    ul {
        display: block;

        position: absolute;

        left: 2%;
        /* background-color: #37096e; */
        width: 100%;
        z-index: 1;
        padding: 0;
        flex-direction: column;

    }


    .navbar-links li:hover {
        background-color: rgba(173, 151, 195, 0.764);
        border-radius: 0;
    }


    .navbar-links li a {
        padding: 10px 0;
        display: block;
        color: #fff;
        font-size: 15px;
    }

    .brand-title {
        font-size: 2em;
    }
}

@media only screen and (max-width: 520px) {

    .navbar-links,
    ul {
        top: 7px;

    }

    .brand-title {
        font-size: 20px;
        margin: 0 auto;
    }

    .navbar-links li a {
        padding: 6px 0;
        display: block;
        color: #fff;
        font-size: 13px;
    }

    .social-links {
        margin-right: -75px;
    }
}